# Copy this file to .env and replace the credentials with
# your own before starting the app.

DB_DATABASE=bludb
DB_HOSTNAME=98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud
DB_PORT=30875
DB_UID=pgj97073
DB_PWD=VY5i23xzjSKX5yjH
DB_SCHEMA=PGJ97073
WML_SERVICEPATH=<service url name>
WML_UID=<wml service user name>
WML_PWD=<wml service password name>
WML_INSTANCEID=<service instance id >
WML_MODELID=<model id>
WML_DEPLOYMENTID=<deployment id>
